<div class="site-menubar site-menubar-light">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">
            <li class="site-menu-category">General CarGapp</li>

            <li class="dropdown site-menu-item has-sub">
              <%= link_to offers_path, class: 'animsition-link' do %>
                <i class="site-menu-icon wb-tag" aria-hidden="true"></i>
                <span class="site-menu-title">Offers</span>
              <% end %>
            </li>

            <li class="dropdown site-menu-item has-sub">
              <%= link_to reports_path, class: 'animsition-link' do %>
                <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
                <span class="site-menu-title">Reports</span>
              <% end %>
            </li>

            <% if user_signed_in? %>
              <% if current_user.email.include?('segundo') or current_user.email.include?('segundo.espana1@gmail.com') %>
                <li class="dropdown site-menu-item has-sub">
                  <%= link_to oauth_applications_path, class: 'animsition-link' do %>
                    <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                    <span class="site-menu-title">Applications</span>
                  <% end %>
                </li>

                <li class="dropdown site-menu-item has-sub">
                  <%= link_to rails_admin_path, class: 'animsition-link' do %>
                    <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                    <span class="site-menu-title">SuperAdmin</span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            
          </ul>
        </div>
      </div>
    </div>
  </div>